.chat-message-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.welcome-msg {
  color: rgb(120, 120, 120);
  text-align: center;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}