.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-msg {
  margin-top: 30px;   /* 👈 push it down */
  margin-bottom: 20px;
  text-align: center;
  color: #777;
}
